.CircleOne
{
    background-image: url("../Assets/Images/JTDSS.png");
    background-size: cover;
    background-position: center;
}

.CircleTwo
{
    background-image: url("../Assets/Images/EmpireSS.png");
    background-size: cover;
    background-position: center;
}

.AboutUs
{
	display: flex; flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
}

.FeaturedContracts
{
	display: flex; flex-flow: column nowrap;
	background-color: #FFF;
	color: #000;
	clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
}
